.backgroundcolor {
    
    background-color:azure
}


#name {
    font-family: "linotype univers" , sans-serif;
    position:fixed;
    font-size: 20vw;
    

}
#pagebio {
    
    font-family: sans-serif;
    font-language-override:normal;
    font-stretch: extra-expanded;
    font
}

.circle1 {
    
    width: 700px;
    height:100px;
    border-radius: 100%;
    background-color: black;
    position: relative;
    z-index:+1;
    bottom:800px;
}


.rectangle1 {
    background-color:#EEEEEE;
    height: 200px;
    width: 1280px;
    border-radius: %;
    position:relative;
    top: -1;
    bottom: 900px;
    left: -1;
    right: 200px
}

.portal {
    background-color:blue;
    height: 34px;
    width: 1000px;
    border-radius:100%;
    position:relative;
    z-index: 1; 
    bottom:875px;
}

.circle2 {
    
    background-color: darkblue;
    height: 10vw;
        width: 1200px;
        height: 50px;
        border-radius: 100%;
}


.circle3 {
    
    background-color: cadetblue;
        position:relative;
        top: 600px;
        width: 800px;
        height: 40px;
        width: 500px;
    border-radius: 100%;
}

.narrative{
    
overflow: hidden;
    
    font-size: 95px;
    position:absolute;
}

.brutalism1

{
    image-resolution: 20vw;
}

.marriot {
    position:relative;
    left: 200px;
    bottom: 3500px;
    z-index: 2;
}

.track {
    position:relative;
    left: 1085px;
    bottom: 4100px;
}

.w {
    position: relative;
    bottom: 3450px;
    left: 200px;
    cursor: url(cursor-1.png), pointer;
}

.island {
    position:relative;
    bottom: 3000px;
    left: 950px
}

.fidi {
    
    position:relative;
    bottom: 2500px;
    left: 700px;
}

.brutalist2 {
    
    image-resolution: 20vw;
    bottom: 3050px;
    position:relative;
    z-index: -2
}






.el-5 {
    
    position:relative;
    z-index:3;
    bottom:5000px;
    left: 200px;
    
}
    
    
.el-6 {
    
    position:relative;
    z-index:3;
    bottom:4900px;
    left: 350px;
}




.bgsquare2 {
    
    background-color: black;
    width: 4000px;
    height: 3000px;
    position:relative;
    bottom: 3090px;
    
}

.brutalist-footer {
    background-color: black;
    padding:0;
    margin:0;
    background-image:url(brutalist_footer.jpg);
    position:fixed;
    bottom:0;
    height:100vh;
}

.discussion1-harrison
{
    font-family:sans-serif;
    position:relative;
    color:orangered;
    bottom:-7580px;
   left:20px;
    z-index:1;
    margin:30px;
    width:30em;
}



.discussion1-connor{
    
    font-family: serif;
    color:darkblue;
    position:relative;
    bottom:-7800px;
    z-index: 1;
    left:400px;
    width:30em;
}

.discussion2-harrison
{
    font-family:sans-serif;
    position:relative;
    color:orangered;
    bottom:-9000px;
   left:20px;
    z-index:1;
    margin:30px;
    width:30em;
}



.discussion2-connor {
    
    font-family: serif;
    color:darkblue;
    position:relative;
    bottom:-9200px ;
    z-index:1;
    width:30em;
    margin:30px;
}

.scroll3{
    
    font-family: serif;
    color:white;
    position: relative;
    bottom: -8900px;
    z-index: 2;
    margin: 60px;
    
}

.scroll4{
    
    font-family: serif;
    color:white;
    position: relative;
    z-index: 2;
    bottom: -8800px;
    margin: 100px;
}


.trackvideo{
    
    position: relative;
    z-index: 2;
    bottom:13600px;
    margin:100px;
}